.begin__author {
    color: var(--clr-white);
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 3.0rem;
    margin-top: 1.9rem;
    margin-bottom: 2.8rem;
    text-align: center;
    margin-left: 13.6rem;
  }

  @media screen and (max-width: 768px) {
    .begin__author {
      max-width: 72.0rem;
      padding: 0;
    }
  }
  
  @media screen and (max-width: 320px) {
    .begin__author {
      max-width: 28.8rem;
      padding: 0;
    }
  }