.greetings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
    margin: 0 auto;
    width: 50%;
    padding-top: 4.4rem;
  }

  @media screen and (max-width: 768px) {
    .greetings {
      padding-top: 9.0rem;
    }
  }
  
  @media screen and (max-width: 320px) {
    .greetings {
      padding-top: 5.0rem;
    }
  }