.cover__title {
    font-size: 7.2rem;
    font-weight: 900;
    color: var(--clr-white);
    line-height: 6rem;
    margin: 0 auto;
    transition: var(--transition);
  }

  .cover__title:hover {
    opacity: 0.6;
    letter-spacing: .1rem;
  }

  @media screen and (max-width: 768px) {
    .cover__title {
      font-size: 5.6rem;
      line-height: 0.7;
    }
  }
  
  @media screen and (max-width: 320px) {
    .cover__title {
      font-size: 3.2rem;
      line-height: 1;
    }
  }