.places-c {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 46rem auto;
    grid-template-areas:
      "title artist"
      "img text"
      "button text";
    gap: 4.8rem 4.0rem;
    padding: 0 0 8.0rem 0;
  }

  @media screen and (max-width: 946px) {
    .places-c {
      grid-template-rows: auto 42.0rem auto;
    }
  }
  
  @media screen and (max-width: 768px) {
    .places-c {
      grid-template-rows: auto 34.0rem auto;
      gap: 2.8rem 2.0rem;
      padding: 0 0 7.2rem 0;
    }
    
    .places-c:last-child {
      padding: 0;
    }
  }
  
  @media screen and (max-width: 710px) {
    .places-c {
      grid-template-rows: auto 28.5rem auto;
    }
  }
  
  @media screen and (max-width: 643px) {
    .places-c {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, auto);
      grid-template-areas:
        "title"
        "artist"
        "img"
        "text"
        "button";
      max-width: 57.9rem;
      margin: auto;
    }
  
    .places-c:last-child {
      padding-bottom: 6.4rem;
    }
  }
  
  @media screen and (max-width: 515px) {
    .places-c {
      max-width: 50.0rem;
    }
  }

  @media screen and (max-width: 425px) {
    .places-c {
      max-width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
      gap: 1.0rem;
      padding: 0 0 4.8rem 0;
    }
  }