.cover__cta{
    max-width: 19rem;
    height: 4.8rem;
    z-index: 1;
    color: var(--clr-white);
    background: var(--clr-links-button);
    padding: 1.6rem;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    margin: auto;
    transition: var(--transition);
    margin-top: 1.6rem;
  }

  .cover__cta:hover {
    letter-spacing: .1rem;
    background: var(--clr-links-button-hover);
  }